body{
    font-family: 'Open Sans', sans-serif;
}
.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 5px 10px;
}

.text-primary{
    color: #FD6E0A;
}

.protfolio-title{
color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}
nav li{
margin: 15px;
list-style: none;

}
nav>ul{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: cornflowerblue;
}
.header{
    background-color: #FFF8F3;;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.banner-content{
    max-width: 500px;
}
.banner .profile-picture{
    width: 400px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-tittle{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-discription{
    font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-top: 10px;
}

.about{
    padding: 200px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}
.section-tittle{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}
.section-discription{
    color:  #757575;
    font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#What i do{
    padding: 30px 150px;
}
#What-i-do-description{
    padding: 30px 150px;
    display: flex;
    text-align: center
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}
    